<main>
    <p-tabView (onChange)="atualizarData(); atualizarTotal()">

      <p-tabPanel header="Cadastro">
        <p-card header="Gastos" subheader="Seus gastos">

          <form #tarefaForm="ngForm" (ngSubmit)="adicionar(tarefaForm)">
            <span class="p-float-label">
              <input type="text" id="float-input-tarefa" pInputText name="tarefa" ngModel>
              <label for="float-input-tarefa">Item</label>
            </span>

            <span class="p-float-label">
              <input type="number" id="float-input-tarefa" pInputText name="valor" ngModel>
              <label for="float-input-tarefa">Valor</label>
            </span>

            <div class="adicionar-botao">
              <p-button label="Adicionar" type="submit" icon="pi pi-check"></p-button>
            </div>
          </form>

          <div class="tarefa" *ngFor="let tarefa of tarefas">
            <p-card header="{{tarefa.descricao}} - R${{tarefa.valor}}">

              <div class="conteudo-tarefa">
                <div class="done">
                  <p-selectButton [options]="opcoes" optionLabel="rotulo"
                  optionValue="valor" [(ngModel)]="tarefa.finalizada"
                  (onChange)="atualizar(tarefa)">
                  </p-selectButton>
                </div>

              </div>

              <ng-template pTemplate="footer">

              <p-button class="btn-excluir" (onClick)="excluir(tarefa)" icon="pi pi-times"></p-button>

            </ng-template>

            </p-card>
          </div>

        </p-card>
      </p-tabPanel>

      <p-tabPanel header="Receita">

        <p-orderList [value]="receita">
          <ng-template class="item" let-receita pTemplate="item">

            <div class="product-list-detail">
              <h5 class="p-mb-2">{{receita.descricao}}</h5>
          </div>

          <div class="product-list-action">
                <h6 class="pi pi-tag product-category-icon"> R$ {{receita.valor}}</h6>
            </div>

          <div></div>



          </ng-template>
      </p-orderList>

      <p-card class="total" header="TOTAL R$ {{total}}">
        <div class="tarefa">

        </div>
      </p-card>

      </p-tabPanel>

      <p-tabPanel header="Gráfico">
        <p-chart type="doughnut" [data]="data"></p-chart>
      </p-tabPanel>

    </p-tabView>
  </main>
